@use '../detail/proposal-detail-page.component.scss';

.reject-modal-body {
  display: grid;
  gap: 0.5rem;

  textarea {
    min-height: 5rem;
    resize: vertical;
  }
}

.reject-modal-body__hint {
  margin: 0;
  color: var(--color-subtle);
}

.accept-modal-body__hint {
  margin: 0;
  color: var(--color-subtle);
}
